# Build folders
/bin/
/obj/
/Debug/
/Release/
/Setups/
/ffmpeg/

# CodeBlocks files
*.cbp
*.layout
*.depend

# Compiler files
*.exe
*.dll
*.o
*.obj
*.a
*.lib
*.so
*.pdb

# File backup 
*.log
*.tmp
*.bak
*.cache
